form { width:90%; }

fieldset { display:inline; width:48%; padding:2%; vertical-align:top; }

fieldset:last-child { width:100%; }

legend { width:100%; display:block; text-align:left;}
label { width:100%; }
input { width:100%; }
