<form class="">
  
  <fieldset class="field-group">
    <caption>Pet Information</caption>
    <div>
      <label for="">Pet Name</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Type of Pet (eg Dog or Cat)</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Gender</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Date of Birth</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Has the pet been chipped or tagged</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
  </fieldset>

  <fieldset>
    <caption>Owner Information</caption>
    <div>
      <label for="">Title</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Name</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Date of Birth</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Email</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div>
      <label for="">Contact Telephone</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
  </fieldset>

  <fieldset class="field adaptive gaps next-desktop about-pet">
    <caption>Policy Information</caption>
    <div>
      <label for="">Cover Start Date</label>
      <input class="textfield" type="text" name="" id="" value="" placeholder=""/>
    </div>
    <div class="group buttons-group adaptive footer-btn">
      <button class="btn btn-primary next-btn-tab next-btn-tab-about" (click)="submitForm()">Submit</button>
    </div>
  </fieldset>

</form>
