<form name="userForm" ng-submit="submitForm()" novalidate>
  
  <fieldset class="field-group">
    <legend>{{legendPet}}</legend>
    <app-pet-name></app-pet-name>
    <app-pet-type></app-pet-type>
    <app-pet-gender></app-pet-gender>
    <app-pet-dob></app-pet-dob>
    <app-pet-chipped></app-pet-chipped>
  </fieldset>

  <fieldset>
    <legend>{{legendOwner}}</legend>
    <app-owner-title></app-owner-title>
    <app-owner-name></app-owner-name>
    <app-owner-dob></app-owner-dob>
    <app-owner-email></app-owner-email>
    <app-owner-contact></app-owner-contact>
  </fieldset>

  <fieldset class="field adaptive gaps next-desktop about-pet">
    <legend>{{legendPolicy}}</legend>
    <app-policy-start></app-policy-start>
  </fieldset>

    <div class="submit group buttons-group adaptive footer-btn">
      <button class="btn btn-primary next-btn-tab next-btn-tab-about" (click)="submitForm()">{{buttonTxt}}</button>
    </div>
</form>
